<div *ngIf="userName; else loginFailed">
  <h1>Welcome {{ userName }}!</h1>
  <button (click)="getMovies()">Get favorite Movies!</button>
  <div id="movies-container">
    <div *ngFor="let movie of movies">
      <div class="movie-item">
        <div>Title: {{ movie.title }}</div>
        <div>Date Watched: {{ movie.dateWatched }}</div>
      </div>
    </div>
    <div id="loading" *ngIf="isLoading">
      Loading...
    </div>
    <div *ngIf="movies.length === 0 && isMoviesLoaded">
      You have no favorite movies
    </div>
  </div>

  <h2>Upload Movie</h2>
  <div [formGroup]="form">
    <div class="form-field">
      <input type="text" formControlName="title" placeholder="Title">
      <div *ngIf="title.invalid && (title.dirty || title.touched)">
        <div class="error" *ngIf="title.errors?.['required']">
          Title is required.
        </div>
      </div>
    </div>
    <div class="form-field">
      <input type="number" formControlName="dateWatched" placeholder="Date Watched">
      <div *ngIf="dateWatched.invalid && (dateWatched.dirty || dateWatched.touched)">
        <div class="error" *ngIf="dateWatched.errors?.['required']">
          Date watched is required.
        </div>
        <div class="error" *ngIf="dateWatched.errors?.['min']">
          Date watched must be zero or greater.
        </div>
      </div>
    </div>
    <div class="form-field">
      <button (click)="submit()">Submit</button>
    </div>
  </div>
</div>
<ng-template #loginFailed>
  <h3>Login failed. Please try again later.</h3>
</ng-template>
<!-- <router-outlet></router-outlet> -->